.task{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.login{
    width: 70% ;
    height: 70%;
    background-color: #24353F;
}

.login h3{
    color: #17A2B8;
    font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    font-size: 50px;

}

.login input{
    width: 90%;
    background-color: transparent;
    color: transparent;

}
.login input:focus{
    color: white;
    background-color: #24353F;
}
.login input::placeholder{
    color: #ADAEAF;
}
.login .singin{
    border: none;
    width: 90%;
    color: #17A2B8;
    background-color: #24353F;
    border: 1px solid #17A2B8 ;
    border-radius: 7px;
    padding: 8px;
    transition: all .5s;
}
.login .singin:hover{
    background-color: #17A2B8;
    color: #24353F;
}


.login p {
    color: white;
    padding-block:20px ;
}
.login p a{
    color: white;
    text-decoration: none;
}
.login p a:hover{
    text-decoration: underline;
}   